@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", Courier, monospace;
}

:root {
  --first-color: #f1f2f6;
  --second-color: black;
  --third-color: #fff;
  --fifth-color: rgba(255, 255, 255, 0.8);
}

.dark-mode {
  --first-color: #393943;
  --second-color: white;
  --third-color: #2e2f36;
  --fifth-color: rgba(0, 0, 0, 0.8);
}

body {
  /* background: #f1f2f6; */
  background: var(--first-color);
  color: var(--second-color);
  transition: 0.4s;
}
p,
h3,
h1,
input,
span,
input,
i,
button,
::placeholder {
  color: var(--second-color);
  /* color: red; */
}
h1 {
  cursor: pointer;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--third-color);
  padding: 40px 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.switch {
  cursor: pointer;
  transition: 0.5;
}
i {
  padding-right: 10px;
}

.searchBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 20px;
  padding: 30px 60px;
}

.search {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.search input {
  /* background-color: aqua; */
  background-color: var(--third-color);
  width: 16rem;
  height: 30px;
  border: 0;
}
.search input:focus {
  outline: 0;
}

/* .select {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.select select {
  width: 16rem;
  height: 30px;
  border: 0;
}
.select select:focus {
  outline: 0;
} */

.selectedValue {
  display: inline-block;
  width: 8rem;
  line-height: 30px;
  background-color: var(--third-color);
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* text-align: center; */
  /* color: red; */
}

.dropDown {
  margin-top: -40px;
  /* display: inline-block; */
  z-index: 10;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  position: absolute;
  transition: all 0.5s;
}
@keyframes drop {
  0% {
    transform: translateY(5px);
    opacity: 30%;
  }
  100% {
    transform: translateY(50px);
  }
}
/* .selectedValue:hover .dropDown {
  transform: translateY(50px);
} */

.dropDown ul {
  background-color: var(--third-color);
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* filter: drop-shadow(
    0px 4px 8px rgba(9, 30, 66, 0.25),
    0px 0px 0px 1px rgba(9, 30, 66, 0.08)
  ); */
}

.dropDown ul li {
  width: 8rem;
  padding: 4px 10px;
  line-height: 30px;
  /* text-align: center; */
  padding-left: 15px;
  border-bottom: var(--second-color) 0.5px solid;
}
.dropDown ul li:last-child {
  border-bottom: 0;
}

.link {
  text-decoration: none;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.card {
  position: relative;
  width: 300px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 30px;
  transition: 0.2s all;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card:hover .second-image {
  display: block;
}

.country-name {
  padding: 10px 0px;
}

.card-text {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  line-height: 25px;
  /* color: red; */
}

.card .first-image {
  width: 300px;
  height: 176px;
  object-fit: cover;
}

.light-text {
  font-weight: 100;
}

.second-image {
  position: absolute;
  width: 80px;
  height: 80px;
  /* object-fit: fill; */
  border-radius: 50%;
  bottom: 20px;
  right: 10px;
  margin: 5px;
  opacity: 80%;
  display: none;
  background-color: #fff;
}

button {
  margin-top: 30px;
  margin-left: 50px;
  width: 8rem;
  line-height: 30px;
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* ############# <single render> ############# */
.country-container {
  display: flex;
  flex-flow: row wrap;
  width: 85vw;
  height: 50vh;
  /* justify-content: space-between; */
  margin: 40px auto;
}

.single-image {
  height: 100%;
  width: 50%;
  object-fit: cover;
  background-color: bisque;
}

.single-page-texts {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.h2 {
}

.middle-texts {
  padding-top: 30px;
  display: flex;
  flex-flow: row wrap;
  line-height: 35px;
  justify-content: space-between;
}

.bottom-text {
  margin-top: 5px;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  /* background-color: aqua; */
  justify-content: flex-start;
  min-height: 25%;
}

.bottom-right {
  /* margin-left: 5px; */
  /* margin-top: 20px; */
  display: flex;
  flex-flow: row wrap;
  /* align-items: flex-start; */
  /* justify-content: space-around; */
}

.countryName {
  background-color: var(--third-color);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 100;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.bars {
  display: none;
}

@media screen and (max-width: 580px) {
  .search input {
    width: 120px;
    color: aqua;
  }
}

@media screen and (max-width: 412px) {
  .switch span {
    display: none;
  }
  .switch {
    position: absolute;
    right: 12px;
    top: 19px;
    font-size: 24px;
  }

  .bars {
    position: absolute;
    top: 44px;
    left: 30px;
    font-size: 20px;
    display: block;
    /* background-color: bisque; */
  }

  nav {
    position: relative;
    justify-content: center;
  }
  .search input {
    width: 120px;
  }
  .searchBar {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: var(--fifth-color); */
    background-color: var(--third-color);
    margin-top: 20px;
    padding: 20px 10px;
    position: absolute;
    z-index: 8;
    top: -1px;
    /* top: 20rem; */
    left: -25rem;
    width: 21rem;
    border-radius: 10px;
    /* animation: barMoveIn 1s forwards; */
    /* animation: barMoveOut 1s infinite; */
  }

  @keyframes barMoveIn {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    /* 50% {
      transform: translateX(6rem);
      opacity: 0;
    } */
    100% {
      transform: translateX(29rem);
      opacity: 100%;
    }
  }

  @keyframes barMoveOut {
    0% {
      transform: translateX(30rem);
      opacity: 100%;
    }
    100% {
      transform: translateX(0rem);
      opacity: 0;
    }
  }

  .search {
    padding: 5px;
  }

  .search input {
    width: 8rem;
    height: 20px;
  }
  .selectedValue {
    display: inline-block;
    width: 5.5rem;
    line-height: 20px;
    background-color: var(--third-color);
    padding: 5px 10px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* text-align: center; */
    /* color: red; */
  }

  .dropDown {
    margin-top: -40px;
    /* display: inline-block; */
    z-index: 10;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    position: absolute;
    transition: all 0.5s;
  }

  .dropDown ul li {
    width: 5.5rem;
    padding: 4px 10px;
    line-height: 20px;
    /* text-align: center; */
    padding-left: 15px;
    border-bottom: var(--second-color) 0.5px solid;
  }
}
